{% include 'global-variables' %}
<div class="page">
  <div
    class="container {% if offset_pages_margin_top_d > 0 %} mt-lg-{{ offset_pages_margin_top_d }}{% endif %} pb-30{% if offset_pages_margin_bottom_d > 0 %} mb-lg-{{ offset_pages_margin_bottom_d }}{% endif %}">
    <h1 class="page__title mt-30 text-center">{{ page.title }}</h1>
    <div class="rte">

      {% include 'parse-for-icons' content: page.content %}

      <div class="shopify-section">
        <div data-section-type="spacer" class="container">
          <div class="builder-spacer pt-10 pt-md-60 pb-0 pb-md-0"></div>
        </div>

      </div>
      <div class="shopify-section">

        <div>
          <div data-section-type="home-builder" class="container">

            <div class="home-builder overflow-hidden">
              <div class="row align-items-start justify-content-center">
                <div class="home-builder-block-id-1586447503284-1 col-12 col-md-12  ">
                  <!-- snippets/promobox.liquid -->


                  <template class="js-loader-inline-style"></template>
                  <div
                    class="promobox promobox--type-1-4 promobox--style-2 image-animation-trigger position-relative text-center overflow-hidden text-underline-parent">
                    <a href="/collections/giftbox" class="d-block">

                      <div class="image-animation image-animation--from-none image-animation--to-bottom">
                        <div class="rimage d-none d-sm-block" style=" min-height: 0px;">
                          <div class="d-sm-none" style="padding-top: 550px;"></div>
                          <div class="d-none d-sm-block d-md-none" style="padding-top: 400px;">
                          </div>
                          <div class="d-none d-md-block d-lg-none" style="padding-top: 450px;">
                          </div>
                          <div class="d-none d-lg-block d-xl-none" style="padding-top: 500px;">
                          </div>
                          <div class="d-none d-xl-block d-ultra-none" style="padding-top: 550px;">
                          </div>
                          <div class="d-none d-ultra-block" style="padding-top: 38%;"></div>
                          <img class="rimage__img rimage__img--cover lazyload entered loaded" loading="eager"
                            data-master="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_main1v_{width}x.progressive.jpg?v=1627322142"
                            data-aspect-ratio="2.1272727272727274" data-aspect-ratio-original="2.1272727272727274"
                            data-stretch-size="cover"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                            data-srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_main1v.jpg?v=1627322142 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_main1v.progressive.jpg?v=1627322142 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_main1v.progressive.png.jpg?v=1627322142 3x"
                            data-scale-perspective="1.1" alt="" data-ll-status="loaded"
                            srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_main1v.jpg?v=1627322142 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_main1v.progressive.jpg?v=1627322142 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_main1v.progressive.png.jpg?v=1627322142 3x">
                        </div>
                        <div class="rimage d-sm-none" style=" min-height: 0px;">
                          <div class="d-sm-none" style="padding-top: 550px;"></div>
                          <div class="d-none d-sm-block d-md-none" style="padding-top: 400px;">
                          </div>
                          <div class="d-none d-md-block d-lg-none" style="padding-top: 450px;">
                          </div>
                          <div class="d-none d-lg-block d-xl-none" style="padding-top: 500px;">
                          </div>
                          <div class="d-none d-xl-block d-ultra-none" style="padding-top: 550px;">
                          </div>
                          <div class="d-none d-ultra-block" style="padding-top: 38%;"></div>
                          <img class="rimage__img rimage__img--cover lazyload" loading="eager"
                            data-master="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_main1h_{width}x.progressive.jpg?v=1627322142"
                            data-aspect-ratio="0.6818181818181818" data-aspect-ratio-original="0.6818181818181818"
                            data-stretch-size="cover"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                            data-srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_main1h_900x.progressive.jpg?v=1627322142 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_main1h_900x@2x.progressive.jpg?v=1627322142 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_main1h_900x@3x.progressive.jpg?v=1627322142 3x"
                            data-scale-perspective="1.1" alt="">
                        </div>
                      </div>
                    </a>
                    <div
                      class="promobox__content absolute-stretch d-flex flex-center align-items-lg-center justify-content-lg-center w-100 mx-auto pointer-events-none">
                      <div class="promobox__content_inner position-absolute d-flex flex-center">
                        <div>

                          <div class="p-15 p-lg-30">
                            <p class="promobox__text-1 h2 h1-sm">COLLECTION <br>BOX</p>
                            <p class="promobox__text-2 h4 mt-15 mt-sm-20">Shop Our
                              Fragrance <br /> Collection Boxes
                            </p>
                            <div class="mt-25 mt-sm-30">

                              <a href="/collections/giftbox" class="promobox__btn-1 btn btn--secondary">SEE ALL
                                COLLECTIONS
                              </a>

                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div id="shopify-section" class="shopify-section">
        <div data-section-type="spacer" class="container">
          <div class="builder-spacer pt-10 pt-md-60 pb-0 pb-md-0"></div>
        </div>
      </div>
      <div class="shopify-section">
        <div>
          <div data-section-type="home-builder" class="container">

            <div class="home-builder overflow-hidden">
              <div class="row align-items-start justify-content-center">
                <div class="home-builder-block-id-1586452593581-1 col-12 col-md-8 mb-45 mb-sm-60 ">
                  <!-- snippets/promobox.liquid -->



                  <div class="promobox promobox--type-2 promobox--style-2 text-center text-underline-parent">
                    <a href="https://www.decantx.com/apps/builder/collection-box" class="d-block">

                      <div class="image-animation image-animation--from-none image-animation--to-center">
                        <div class="rimage" style="padding-top:61.03896103896104%; min-height: 0px;">
                          <img class="rimage__img rimage__img--cover lazyload entered loaded" loading="eager"
                            data-master="//cdn.shopify.com/s/files/1/0288/9875/4698/files/byob_{width}x.progressive.jpg?v=1627329120"
                            data-aspect-ratio="1.6382978723404256" data-aspect-ratio-original="1.6382978723404256"
                            data-stretch-size="cover"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                            data-srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/byob_848x.progressive.jpg?v=1627329120 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/byob_1696x.progressive.png.jpg?v=1627329120 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/byob_2544x.progressive.jpg?v=1627329120 3x"
                            data-scale-perspective="1.1" alt="" data-ll-status="loaded"
                            srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/byob_848x.progressive.jpg?v=1627329120 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/byob_1696x.progressive.jpg?v=1627329120 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/byob_2544x.progressive.png.jpg?v=1627329120 3x">
                        </div>
                      </div>
                    </a>
                    <div class="d-flex flex-column mt-15"><a href="https://www.decantx.com/apps/builder/collection-box">
                        <p class="promobox__text-1 h4 h3-sm">Customize Your Collection Box</p>
                      </a>
                      <div class="mt-15">

                        <a href="https://www.decantx.com/apps/builder/collection-box"
                          class="promobox__btn-1 btn btn--default btn--transparent">Create a box</a>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="home-builder-block-id-1586452593581-2 col-12 col-md-4 mb-45 mb-sm-60 ">
                  <!-- snippets/promobox.liquid -->



                  <div class="promobox promobox--type-2 promobox--style-2 text-center text-underline-parent">
                    <a href="https://www.decantx.com/collections/giftbox/unisex" class="d-block">

                      <div class="image-animation image-animation--from-none image-animation--to-center">
                        <div class="rimage" style="padding-top:127.027027%; min-height: 0px;">
                          <img class="rimage__img rimage__img--cover lazyload entered loaded" loading="eager"
                            data-master="//cdn.shopify.com/s/files/1/0288/9875/4698/files/dxuc_{width}x.progressive.jpg?v=1626904851"
                            data-aspect-ratio="0.7872340425531915" data-aspect-ratio-original="0.7872340425531915"
                            data-stretch-size="cover"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                            data-srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/dxuc_408x.progressive.jpg?v=1626904851 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/dxuc_816x.progressive.jpg?v=1626904851 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/dxuc_1224x.progressive.jpg?v=1626904851 3x"
                            data-scale-perspective="1.1" alt="" data-ll-status="loaded"
                            srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/dxuc_408x.progressive.jpg?v=1626904851 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/dxuc_816x.progressive.jpg?v=1626904851 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/dxuc_1224x.progressive.jpg?v=1626904851 3x">
                        </div>
                      </div>
                    </a>
                    <div class="d-flex flex-column mt-15"><a href="https://www.decantx.com/collections/giftbox/unisex">
                        <p class="promobox__text-1 h4 h3-sm">Unisex Collection Box</p>
                      </a>
                      <div class="mt-15">

                        <a href="https://www.decantx.com/collections/giftbox/unisex"
                          class="promobox__btn-1 btn btn--default btn--transparent">Shop Unisex</a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="shopify-section">
        <div data-section-type="spacer" class="container">
          <div class="builder-spacer pt-5 pt-md-5 pb-0 pb-md-0">
            <hr />
          </div>
        </div>
      </div>




      <div class="shopify-section">
        <div data-section-type="spacer" class="container">

          <div data-section-type="carousel-products" data-postload="carousel_products">
            <div class="overflow-hidden">
              <div {% render 'layout-get-container-class' %}>
                <div class="carousel carousel--arrows carousel-products position-relative" data-carousel-ajax>
                  <div class="carousel__head row justify-content-center mb-15" data-carousel-control>
                    <h2
                      class="carousel__title home-section-title home-section-title--multiple col-auto mw-100 mb-10 text-center">
                      Shop our Bestsellers </h2>
                  </div>
                  <div class="carousel__slider_wrapper position-relative">
                    <div class="carousel__slider position-relative initialized" data-js-carousel="" data-autoplay="true"
                      data-speed="5000" data-count="4" data-infinite="true" data-arrows="true" data-bullets="true">

                      <div class="carousel__prev position-absolute cursor-pointer slick-arrow" data-js-carousel-prev=""
                        style="top: 172.8px;"><i>{% render
                          'icon-theme-006'
                          %}</i></div>
                      <div class="carousel__products overflow-hidden">

                        <div class="carousel__slick row" data-js-carousel-slick data-carousel-items data-max-count="5"
                          data-products-pre-row="12" data-async-ajax-loading="true">

                          {%- assign limit = 4 | abs | at_most: 4 | plus: 1 -%}
                          {%- for product in collections['Giftbox'].products | sort_by:
                          'best-selling'
                          limit: 12 -%}
                          {%- if first_product == blank -%}
                          {%- assign first_product = product -%}
                          {%- endif -%}
                          {%- if forloop.index0 < limit -%} <div class="carousel__item col-auto" {% if
                            get_carousel_products_async_ajax_loading %} data-carousel-product-preload
                            data-handle="{{ product.handle }}" {% endif %}>
                            {%- assign disable_lazyload =
                            carousel_products_image_lazyload_disable
                            -%}
                            {% include 'product-collection' with url_without_collection:
                            true
                            countdown_lazy: countdown_lazy %}
                        </div>
                        {%- elsif forloop.index >= limit and forloop.last == true -%}
                        <div class="carousel__item col-auto" data-carousel-product-preload
                          data-handle="{{ product.handle }}">
                          {%- assign disable_lazyload =
                          carousel_products_image_lazyload_disable -%}
                          {% include 'product-collection' with url_without_collection:
                          true
                          countdown_lazy: countdown_lazy %}
                        </div>
                        {%- else -%}
                        <div class="carousel__item col-auto" data-handle="{{ product.handle }}">333
                        </div>
                        {%- endif -%}
                        {%- endfor -%}
                      </div>
                    </div>
                    <div class="carousel__next position-absolute cursor-pointer" data-js-carousel-next><i>{%
                        render 'icon-theme-007' %}</i></div>
                  </div>
                  {%- if get_carousel_products_async_ajax_loading == true -%}
                  <div class="carousel__spacer">
                    <div class="row">
                      <div class="col-6 col-md-4 col-xl-{{ 12 | divided_by: section.settings.size_of_columns }}">
                        <div
                          style="padding-top:{{ 1 | divided_by: first_product.images[0].aspect_ratio | times: 100 }}%;">
                        </div>
                      </div>
                    </div>
                  </div>
                  {% include 'loader-spinner' %}
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          Loader.require({ type: "script", name: "carousel_products" });
        </script>


      </div>
    </div>


    <div class="shopify-section">
      <div data-section-type="spacer" class="container">
        <div class="builder-spacer pt-10 pt-md-60 pb-0 pb-md-0">
          <hr />
        </div>
      </div>
    </div>




    <div class="shopify-section">

      <div>
        <div data-section-type="home-builder" class="container">

          <div class="home-builder overflow-hidden">
            <div class="row align-items-start justify-content-center">
              <div class="home-builder-block-id-1586447503284-1 col-12 col-md-12  ">
                <!-- snippets/promobox.liquid -->


                <template class="js-loader-inline-style"></template>
                <div
                  class="promobox promobox--type-1-4 promobox--style-2 image-animation-trigger position-relative text-center overflow-hidden text-underline-parent">
                  <a href="/collections/giftbox?q=tg_:Justin%20Copeland" class="d-block">

                    <div class="image-animation image-animation--from-none image-animation--to-bottom">
                      <div class="rimage d-none d-sm-block" style=" min-height: 0px;">
                        <div class="d-sm-none" style="padding-top: 550px;"></div>
                        <div class="d-none d-sm-block d-md-none" style="padding-top: 400px;">
                        </div>
                        <div class="d-none d-md-block d-lg-none" style="padding-top: 450px;">
                        </div>
                        <div class="d-none d-lg-block d-xl-none" style="padding-top: 500px;">
                        </div>
                        <div class="d-none d-xl-block d-ultra-none" style="padding-top: 550px;">
                        </div>
                        <div class="d-none d-ultra-block" style="padding-top: 38%;"></div>
                        <img class="rimage__img rimage__img--cover lazyload entered loaded" loading="eager"
                          data-master="//cdn.shopify.com/s/files/1/0288/9875/4698/files/jcbanr_{width}x.progressive.jpg?v=1627323333"
                          data-aspect-ratio="2.1272727272727274" data-aspect-ratio-original="2.1272727272727274"
                          data-stretch-size="cover"
                          src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                          data-srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/jcbanr.jpg?v=1627323333 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/jcbanr.progressive.jpg?v=1627323333 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/jcbanr.progressive.png.jpg?v=1627323333 3x"
                          data-scale-perspective="1.1" alt="" data-ll-status="loaded"
                          srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/jcbanr.jpg?v=1627323333 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/jcbanr.progressive.jpg?v=1627323333 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/jcbanr.progressive.png.jpg?v=1627323333 3x">
                      </div>
                      <div class="rimage d-sm-none" style=" min-height: 0px;">
                        <div class="d-sm-none" style="padding-top: 550px;"></div>
                        <div class="d-none d-sm-block d-md-none" style="padding-top: 400px;">
                        </div>
                        <div class="d-none d-md-block d-lg-none" style="padding-top: 450px;">
                        </div>
                        <div class="d-none d-lg-block d-xl-none" style="padding-top: 500px;">
                        </div>
                        <div class="d-none d-xl-block d-ultra-none" style="padding-top: 550px;">
                        </div>
                        <div class="d-none d-ultra-block" style="padding-top: 38%;"></div>
                        <img class="rimage__img rimage__img--cover lazyload" loading="eager"
                          data-master="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_main2h_{width}x.progressive.jpg?v=1627323333"
                          data-aspect-ratio="0.6818181818181818" data-aspect-ratio-original="0.6818181818181818"
                          data-stretch-size="cover"
                          src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                          data-srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_main2h_900x.progressive.jpg?v=1627323333 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_main2h_900x@2x.progressive.jpg?v=1627323333 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_main2h_900x@3x.progressive.jpg?v=1627323333 3x"
                          data-scale-perspective="1.1" alt="">
                      </div>
                    </div>
                  </a>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>





    <div id="shopify-section-1586452583265" class="shopify-section">
      <div data-section-id="1586452583265" data-section-type="spacer" class="container">
        <div class="builder-spacer pt-10 pt-md-60 pb-0 pb-md-0"></div>
      </div>
    </div>



    <div class="row mb-60" style="max-width: 1200px; padding: 0 14px;">
      {%- for product in collections['justin-copeland'].products | sort_by: 'best-selling' limit: 12 -%}

      <div class="col-12 col-lg-4">
        {% include 'product-search' %}
      </div>
      {%- endfor -%}
    </div>






    <div id="shopify-section-1586457174829" class="shopify-section">
      <div data-section-id="1586457174829" data-section-type="spacer" class="container">
        <div class="builder-spacer pt-10 pt-md-60 pb-0 pb-md-0"></div>
      </div>
    </div>



    <div id="shopify-section-1586457228978" class="shopify-section">
      <div>
        <div data-section-id="1586457228978" data-section-type="home-builder" class="container">

          <div class="home-builder overflow-hidden">
            <div class="row align-items-start justify-content-center">




              <div class="home-builder-block-id-1586457228978-2 col-12 col-md-6 mb-45 mb-sm-60 ">
                <!-- snippets/promobox.liquid -->

                <div class="promobox promobox--type-2 promobox--style-2 text-center text-underline-parent">
                  <a href="/collections/giftbox/niche" class="d-block">

                    <div class="image-animation image-animation--from-none image-animation--to-center">
                      <div class="rimage" style="padding-top:61.03896103896104%; min-height: 0px;">
                        <img class="rimage__img rimage__img--cover lazyload entered loaded" loading="eager"
                          data-master="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_m2a_{width}x.progressive.jpg?v=1627333063"
                          data-aspect-ratio="1.6382978723404256" data-aspect-ratio-original="1.6382978723404256"
                          data-stretch-size="cover"
                          src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                          data-srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_m2a_770x.progressive.jpg?v=1627333063 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_m2a_1540x.progressive.jpg?v=1627333063 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_m2a_2310x.progressive.jpg?v=1627333063 3x"
                          alt="" data-ll-status="loaded"
                          srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_m2a_770x.progressive.jpg?v=1627333063 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_m2a_1540x.progressive.jpg?v=1627333063 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_m2a_2310x.progressive.jpg?v=1627333063 3x">
                      </div>
                    </div>
                  </a>
                  <div class="d-flex flex-column mt-15"><a href="/collections/giftbox/niche">
                      <p class="promobox__text-1 h4 h3-sm">Shop Niche Collection Boxes</p>
                    </a>
                    <div class="mt-15">

                      <a href="/collections/giftbox/niche"
                        class="promobox__btn-1 btn btn--default btn--transparent">Shop Niche</a>

                    </div>
                  </div>
                </div>
              </div>



              <div class="home-builder-block-id-1586452593581-1 col-12 col-md-6 mb-45 mb-sm-60 ">
                <!-- snippets/promobox.liquid -->



                <div class="promobox promobox--type-2 promobox--style-2 text-center text-underline-parent">
                  <a href="/collections/giftbox/desinger" class="d-block">

                    <div class="image-animation image-animation--from-none image-animation--to-center">
                      <div class="rimage" style="padding-top:61.03896103896104%; min-height: 0px;">
                        <img class="rimage__img rimage__img--cover lazyload entered loaded" loading="eager"
                          data-master="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_m1a_{width}x.progressive.jpg?v=1627329120"
                          data-aspect-ratio="1.6382978723404256" data-aspect-ratio-original="1.6382978723404256"
                          data-stretch-size="cover"
                          src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                          data-srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_m1a_848x.progressive.jpg?v=1627329120 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_m1a_1696x.progressive.png.jpg?v=1627329120 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_m1a_2544x.progressive.jpg?v=1627329120 3x"
                          data-scale-perspective="1.1" alt="" data-ll-status="loaded"
                          srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_m1a_848x.progressive.jpg?v=1627329120 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_m1a_1696x.progressive.jpg?v=1627329120 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_m1a_2544x.progressive.png.jpg?v=1627329120 3x">
                      </div>
                    </div>
                  </a>
                  <div class="d-flex flex-column mt-15"><a href="/collections/giftbox/desinger">
                      <p class="promobox__text-1 h4 h3-sm">Shop Designer Collection Boxes</p>
                    </a>
                    <div class="mt-15">
                      <a href="/collections/giftbox/desinger"
                        class="promobox__btn-1 btn btn--default btn--transparent">Shop Designer</a>

                    </div>
                  </div>
                </div>
              </div>





            </div>
          </div>

        </div>
      </div>
    </div>
    <div id="shopify-section-1586457571798" class="shopify-section">



      <div>
        <div data-section-id="1586457571798" data-section-type="home-builder" class="container">

          <div class="home-builder overflow-hidden">
            <div class="row align-items-start justify-content-center">
              <div class="home-builder-block-id-1586457571798-1 col-12 col-md-12  ">
                <!-- snippets/promobox.liquid -->


                <template class="js-loader-inline-style"></template>
                <div
                  class="promobox promobox--type-1-4 promobox--style-2 image-animation-trigger position-relative text-center overflow-hidden text-underline-parent">
                  <a href="/collections/giftbox/wedding" class="d-block">

                    <div class="image-animation image-animation--from-none image-animation--to-center">
                      <div class="rimage d-none d-sm-block" style=" min-height: 0px;">
                        <div class="d-sm-none" style="padding-top: 550px;"></div>
                        <div class="d-none d-sm-block d-md-none" style="padding-top: 400px;">
                        </div>
                        <div class="d-none d-md-block d-lg-none" style="padding-top: 450px;">
                        </div>
                        <div class="d-none d-lg-block d-xl-none" style="padding-top: 500px;">
                        </div>
                        <div class="d-none d-xl-block d-ultra-none" style="padding-top: 550px;">
                        </div>
                        <div class="d-none d-ultra-block" style="padding-top: 38%;"></div>
                        <img class="rimage__img rimage__img--cover lazyload entered loaded" loading="eager"
                          data-master="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_wed2_{width}x.progressive.jpg?v=1627338256"
                          data-aspect-ratio="2.1272727272727274" data-aspect-ratio-original="2.1272727272727274"
                          data-stretch-size="cover"
                          src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                          data-srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_wed2_1287x.progressive.jpg?v=1627338256 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_wed2_2574x.progressive.jpg?v=1627338256 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_wed2_3840x.progressive.jpg?v=1627338256 3x"
                          data-scale-perspective="1.1" alt="" data-ll-status="loaded"
                          srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_wed2_1287x.progressive.jpg?v=1627338256 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_wed2_2574x.progressive.jpg?v=1627338256 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_wed2_3840x.progressive.jpg?v=1627338256 3x">
                      </div>
                      <div class="rimage d-sm-none" style=" min-height: 0px;">
                        <div class="d-sm-none" style="padding-top: 550px;"></div>
                        <div class="d-none d-sm-block d-md-none" style="padding-top: 400px;">
                        </div>
                        <div class="d-none d-md-block d-lg-none" style="padding-top: 450px;">
                        </div>
                        <div class="d-none d-lg-block d-xl-none" style="padding-top: 500px;">
                        </div>
                        <div class="d-none d-xl-block d-ultra-none" style="padding-top: 550px;">
                        </div>
                        <div class="d-none d-ultra-block" style="padding-top: 38%;"></div>
                        <img class="rimage__img rimage__img--cover lazyload" loading="eager"
                          data-master="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_wed3_{width}x.progressive.jpg?v=1586641880"
                          data-aspect-ratio="0.6818181818181818" data-aspect-ratio-original="0.6818181818181818"
                          data-stretch-size="cover"
                          src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                          data-srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_wed3_550x.progressive.jpg?v=1586641880 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_wed3_550x@2x.progressive.jpg?v=1586641880 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_wed3_550x@3x.progressive.jpg?v=1586641880 3x"
                          data-scale-perspective="1.1" alt="">
                      </div>
                    </div>
                  </a>
                  <div
                    class="promobox__content absolute-stretch d-flex flex-center align-items-lg-center justify-content-lg-center w-100 mx-auto pointer-events-none">
                    <div class="promobox__content_inner position-absolute d-flex flex-center">
                      <div>

                        <div class="p-15 p-lg-30">
                          <p class="promobox__text-1 h2 h1-sm">The <br /> Wedding <br>Collections</p>
                          <p class="promobox__text-2 h4 mt-15 mt-sm-20"> Shop our Bride & Groom Fragrance
                            Collection for your Big Day!</p>


                        </div>





                        <div class="promobox__btns mt-30">
                          <div class="row no-gutters">
                            <div class="col-12 col-lg-6 mb-10 mb-lg-0 pr-lg-3">
                              <a href="https://www.decantx.com/products/editors-pick-bridal-perfumes-for-women-decantx-fragrance-gift-box"
                                class="promobox__btn-1 btn btn--secondary"> Bridal Collection Box </a>

                            </div>
                            <div class="col-12 col-lg-6 pl-lg-3">
                              <a href="https://www.decantx.com/products/editors-pick-groom-colognes-for-men-decantx-fragrance-gift-box"
                                class="promobox__btn-1 btn btn--secondary"> Groom Collection Box </a>

                            </div>
                          </div>
                        </div>




                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>






      <div id="shopify-section-1586452583265" class="shopify-section">
        <div data-section-id="1586452583265" data-section-type="spacer" class="container">
          <div class="builder-spacer pt-10 pt-md-60 pb-0 pb-md-0"></div>
        </div>
      </div>



      <div id="shopify-section-1586457724169" class="shopify-section">


        <div>
          <div data-section-id="1586457724169" data-section-type="home-builder" class="container">

            <div class="home-builder overflow-hidden">
              <div class="row align-items-start justify-content-center">
                <div class="home-builder-block-id-1586457724169-1 col-12 col-md-4 mb-45 mb-sm-60 ">


                  <div class="promobox promobox--type-2 promobox--style-2 text-center text-underline-parent">
                    <a href="/collections/titi-oguntade" class="d-block">

                      <div class="image-animation image-animation--from-none image-animation--to-center">
                        <div class="rimage" style="padding-top:95%; min-height: 0px;">
                          <img class="rimage__img rimage__img--cover lazyload entered loaded" loading="eager"
                            data-master="//cdn.shopify.com/s/files/1/0288/9875/4698/files/tofb_{width}x.progressive.jpg?v=1627329120"
                            data-aspect-ratio="1.6382978723404256" data-aspect-ratio-original="1.6382978723404256"
                            data-stretch-size="cover"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                            data-srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/tofb_848x.progressive.jpg?v=1627329120 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/tofb_1696x.progressive.png.jpg?v=1627329120 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/tofb_2544x.progressive.jpg?v=1627329120 3x"
                            data-scale-perspective="1.1" alt="" data-ll-status="loaded"
                            srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/tofb_848x.progressive.jpg?v=1627329120 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/tofb_1696x.progressive.jpg?v=1627329120 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/tofb_2544x.progressive.png.jpg?v=1627329120 3x">
                        </div>
                      </div>
                    </a>
                    <div class="d-flex flex-column mt-15"><a href="/collections/titi-oguntade">
                        <p class="promobox__text-1 h4 h3-sm"> Titi Oguntade Collection Boxes</p>
                      </a>
                      <div class="mt-15">
                        <a href="/collections/giftbox/desinger"
                          class="promobox__btn-1 btn btn--default btn--transparent">Shop
                          Titi Collection</a>

                      </div>
                    </div>
                  </div>
                </div>





                <div class="row col-12 col-md-8"  style="max-width: 1200px;">



                  {%- for product in collections['titi-oguntade'].products | sort_by: 'best-selling' limit: 12 -%}

                  <div class="col-12 col-lg-6">
                    {% include 'product-search' %}
                  </div>
           

                  {%- endfor -%}



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





      <div id="shopify-section-1586457671018" class="shopify-section">
        <div data-section-id="1586457671018" data-section-type="spacer" class="container">
          <div class="builder-spacer pt-10 pt-md-60 pb-0 pb-md-0"></div>
        </div>


      </div>
      <div id="shopify-section-1586457724169" class="shopify-section">


        <div>
          <div data-section-id="1586457724169" data-section-type="home-builder" class="container">

            <div class="home-builder overflow-hidden">
              <div class="row align-items-start justify-content-center">
                <div class="home-builder-block-id-1586457724169-1 col-12 col-md-4 mb-45 mb-sm-60 ">
                  <!-- snippets/promobox.liquid -->



                  <div class="promobox promobox--type-2 promobox--style-2 text-center text-underline-parent">
                    <a href="/collections/giftbox/womens" class="d-block">

                      <div class="image-animation image-animation--from-none image-animation--to-left">
                        <div class="rimage" style="padding-top:127.027027%; min-height: 0px;">
                          <img class="rimage__img rimage__img--cover lazyload entered loaded" loading="eager"
                            data-master="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_fem_{width}x.progressive.jpg?v=1627330677"
                            data-aspect-ratio="0.7872340425531915" data-aspect-ratio-original="0.7872340425531915"
                            data-stretch-size="cover"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                            data-srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_fem_408x.progressive.jpg?v=1627330677 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_fem_816x.progressive.jpg?v=1627330677 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_fem_1224x.progressive.jpg?v=1627330677 3x"
                            data-scale-perspective="1.1" alt="" data-ll-status="loaded"
                            srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_fem_408x.progressive.jpg?v=1627330677 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_fem_816x.progressive.jpg?v=1627330677 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_fem_1224x.progressive.jpg?v=1627330677 3x">
                        </div>
                      </div>
                    </a>
                    <div class="d-flex flex-column mt-15"><a href="/collections/giftbox/womens">
                        <p class="promobox__text-1 h4 h3-sm"> Collection Boxes for Women</p>
                      </a>
                      <div class="mt-15">

                        <a href="/collections/giftbox/womens"
                          class="promobox__btn-1 btn btn--default btn--transparent">Shop Women's</a>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="home-builder-block-id-1586457724169-2 col-12 col-md-4 mb-45 mb-sm-60 ">
                  <!-- snippets/promobox.liquid -->



                  <div class="promobox promobox--type-2 promobox--style-2 text-center text-underline-parent">
                    <a href="/collections/giftbox/mens" class="d-block">

                      <div class="image-animation image-animation--from-none image-animation--to-bottom">
                        <div class="rimage" style="padding-top:127.027027%; min-height: 0px;">
                          <img class="rimage__img rimage__img--cover lazyload entered loaded" loading="eager"
                            data-master="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_men_{width}x.progressive.jpg?v=1627330677"
                            data-aspect-ratio="0.7872340425531915" data-aspect-ratio-original="0.7872340425531915"
                            data-stretch-size="cover"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                            data-srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_men_408x.progressive.jpg?v=1627330677 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_men_816x.progressive.jpg?v=1627330677 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_men_1224x.progressive.jpg?v=1627330677 3x"
                            data-scale-perspective="1.1" alt="" data-ll-status="loaded"
                            srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_men_408x.progressive.jpg?v=1627330677 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_men_816x.progressive.jpg?v=1627330677 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_men_1224x.progressive.jpg?v=1627330677 3x">
                        </div>
                      </div>
                    </a>
                    <div class="d-flex flex-column mt-15"><a href="/collections/giftbox/mens">
                        <p class="promobox__text-1 h4 h3-sm"> Collection Boxes for Men</p>
                      </a>
                      <div class="mt-15">

                        <a href="/collections/giftbox/mens"
                          class="promobox__btn-1 btn btn--default btn--transparent">Shop
                          Men's</a>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="home-builder-block-id-1586457724169-3 col-12 col-md-4 mb-45 mb-sm-60 ">
                  <!-- snippets/promobox.liquid -->



                  <div class="promobox promobox--type-2 promobox--style-2 text-center text-underline-parent">
                    <a href="https://www.decantx.com/collections/giftbox/unisex" class="d-block">

                      <div class="image-animation image-animation--from-none image-animation--to-right">
                        <div class="rimage" style="padding-top:127.027027%; min-height: 0px;">
                          <img class="rimage__img rimage__img--cover lazyload entered loaded" loading="eager"
                            data-master="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_uni_{width}x.progressive.jpg?v=1627330677"
                            data-aspect-ratio="0.7872340425531915" data-aspect-ratio-original="0.7872340425531915"
                            data-stretch-size="cover"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                            data-srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_uni_408x.progressive.jpg?v=1627330677 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_uni_816x.progressive.jpg?v=1627330677 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_uni_1224x.progressive.jpg?v=1627330677 3x"
                            data-scale-perspective="1.1" alt="" data-ll-status="loaded"
                            srcset="//cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_uni_408x.progressive.jpg?v=1627330677 1x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_uni_816x.progressive.jpg?v=1627330677 2x, //cdn.shopify.com/s/files/1/0288/9875/4698/files/giftbox_uni_1224x.progressive.jpg?v=1627330677 3x">
                        </div>
                      </div>
                    </a>
                    <div class="d-flex flex-column mt-15"><a href="/collections/giftbox/Unisex">
                        <p class="promobox__text-1 h4 h3-sm"> Unisex Collection Boxes</p>
                      </a>
                      <div class="mt-15">

                        <a href="/collections/giftbox/Unisex"
                          class="promobox__btn-1 btn btn--default btn--transparent">Shop Unisex</a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>











            <hr /> <br />



            <h3> <a href="https://www.decantx.com/collections/eau-de-parfum"> Giftbox Collection </a> </h3>

            <div class="row mb-60">
              {%- for product in collections['Giftbox'].products | sort_by: 'best-selling' limit: 12 -%}

              <div class="col-12 col-lg-2">
                {% include 'product-collection' %}
              </div>
              {%- endfor -%}
            </div>







          </div>
        </div>
      </div>